<h1>Create a new cat, using Cat API</h1>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get Cats</title>
  </head>
  <body>
    <h3>Click the button to get a new Cat from the API</h3>
    <button id="new-cat">Get New Cat</button>
    <%= content_tag "div", id: "api", data: { api_key: @api_key } do %>
    <% end %>
    <div class="cats"></div>
  </body>
</html>
