<h1>Random User API</h1>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random User</title>
  </head>
  <body>
    <h3>Click the button to get a new User from the API</h3>
    <button class="new-api-user">Get Random User</button>
    <div id="api-users"></div>
  </body>
</html>
