<div class="pets">
  <h1 class="page-title">Cats index</h1>
  <hr>
  <% @cats.each do |cat| %>
    <p>name: <%= cat.name %></p>
    <p>breed: <%= cat.breed %></p>
    <p>owner: <%= link_to cat.user.username, user_path(cat.user) %></p>
    <hr>
  <% end %>
</div>
